<div class="wrapper wrapper-content">
  <app-page-heading></app-page-heading>
  <div class="row">
    <app-video-play *ngIf="IsPlay" [ngClass]="VideoPlayClass"></app-video-play>
    <app-teacher-list [ngClass]="VideoListClass"></app-teacher-list>
  </div>
</div>
