<div class="row" id='video-list' [@changeLocation]="changeLocation" [@ChangeLocationInside]="ChangeLocationInside">
  <div class="col-12">
    <div class="ibox">
      <div class="ibox-content">
        <div class="search-form">
          <form action="index.html" method="get" class="row" style="padding-right: 10px">
            <div class="col-10" style="padding-left: 10px;" >
              <input type="text" placeholder="ស្វែងរក" name="search" class="form-control form-control-lg">
            </div>
           
              <button class="btn btn-lg btn-primary col-2" type="button">
                <i class="fa fa-lg fa-sort-numeric-asc"></i>
              </button>
          
          </form>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a (click)="playVideo('12345')">
          <div style="display: flex; position: relative; flex-wrap: wrap;">
            <div [ngClass]="itemClassImg" class="product-imitation no-padding" style="margin: auto;">
              <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
            </div>
            <div [ngClass]="itemClassTitle" class="product-desc">
              <h3 class="product-name"> វិញ្ញាសាទី ១11111</h3>

              <div class="small m-t-xs">
                <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div [ngClass]="currentClass">
    <div class="ibox">
      <div class="ibox-content product-box contact-box">
        <a href="#">
          <div class="product-imitation no-padding">
            <img alt="image" class="img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
          </div>
          <div class="product-desc">
            <h3 class="product-name"> វិញ្ញាសាទី ១</h3>

            <div class="small m-t-xs">
              <strong>កាលបរិច្ឆេត</strong>: ឆ្នាំ 2018 ខែ 07 ថ្ងៃទី 25 ម៉ោង 09:33:59AM
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
