<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">AZE</h1>
    </div>
    <h3>Welcome to AZE OAuth</h3>
    <p>Login with Password, Google . . .
    </p>
    <p>Please Test Log in</p>
    <form class="m-t" role="form" (submit)="signIn(username.value,password.value, $event)">
      <div class="form-group">
        <input type="text" #username class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <input type="password" #password class="form-control" placeholder="Password" required="">
      </div>

      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
      <button type="button" (click)="signInWithGoogle()" class="btn btn-warning block full-width m-b">Google Login</button>

      <!-- <a href="#"><small>Forgot password?</small></a> -->
      <p class="text-muted text-center">
        <small>Do not have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" href="#">Create an account</a>
    </form>
    <p class="m-t">
      <small>AZE Inovation Tech &copy; 2018</small>
    </p>
  </div>
</div>
