<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element" dropdown>
          <img alt="image" class="img-circle" src="/src/assets/styles/images/profile_small.jpg">
          <a class="dropdown-toggle" dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span>
            <span class="text-muted text-xs block">Art Director <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu m-t-xs" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="#/login">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('dashboard')}">
        <a [routerLink]="['/dashboard']"><i class="fa fa-th-large nav-main"></i> <span class="nav-label nav-main">ទំព័រដើម</span></a>
      </li>

      <ul class="nav metismenu" id="side-menu" style="padding-bottom: 0px" *ngFor="let menu of menuList">
          <li class="nav-divider"></li>
          <li class="nav-sub-header">{{ menu.description }}</li>
          <li *ngFor="let sub of menu.subject" [ngClass]="{active: activeRoute('/' + menu.url +'/' + sub.url)}" >
            <a [routerLink]="['/' + menu.url +'/' + sub.url]"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">{{ sub.description }}</span></a>
          </li>
      </ul>

      <li class="nav-divider"></li>
      <li>
        <a [routerLink]="['/login']"><i class="fa fa-sign-out nav-main"></i> <span class="nav-label nav-main">ចាកចេញ</span></a>
      </li>
    </ul>

  </div>
</nav>
