<div class="row border-bottom">
  <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li><a style="cursor: default !important">សុពលភាពត្រឹម: 05-09-2018</a></li>
      <!-- <li>
        <a href="#/login">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li> -->
    </ul>

  </nav>
</div>
